[options]
db_host = localhost
db_port = 5432
db_user = khajasta
db_password = 12345
addons_path = /home/khajasta/PycharmProjects/icsi-erp/core/addons,/home/khajasta/PycharmProjects/icsi-erp/custom, /home/khajasta/PycharmProjects/icsi-erp/custom_odoo_module
wkhtmltopdf.path = /home/khajasta/Downloads/wkhtmltox_0.12.6-1.focal_amd64.deb
default_productivity_apps = True
admin_passwd = 12345


