.timeline_content
{
    overflow-y: auto;
    max-height: 71vh;
}

#repeat_consultation_section .o_form_label
{
   width: 100px ;
   text-align : right !important;
}

#repeat_consultation_section .form-check-label{
    width: max-content !important;
}


body {
  font-family: Inter;
  margin: 0;
}

table {
    table-layout: auto !important;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  background: #39609b;

}
#female_relation_1
{
    color: #2F5597;
    width: auto;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;

}

#female_complaints_1
{
    width: auto;
    color: #2F5597;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
    margin-left: 5%;
    color: #fff;
}


.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.first_consultation_container{
    background: #B4C7E7;
    border-radius: 4px;
}

.first_consultation_sub_container_female{
    background: #FFE8F0;
    border-radius: 4px;
    margin-bottom: 0.20rem;
}

.first_consultation_sub_container_male{
    background: #CAECFF;
    border-radius: 4px;
    margin-bottom: 0.20rem;
}

.card-custom1
{
    width: 100%;
    height: auto;
    padding: 16px;
    background: #C3EFC5;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin: 2%;
}

.card-custom2
{
    width: 100%;
    height: auto;
    padding: 16px;
    background: #FFE8F1;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin: 2%;
}

.card-custom3
{
    width: 100%;
    height: auto;
    padding: 16px;
    background: #CAECFF;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin: 2%;
}

.counter-word
{
    width: 150px;
    text-align: left;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}

.word-title
{
    width: 150px;
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}


.card-custom1-right
{
    width: 100%;
    height: auto;
    background: #E5ECF6;
    border-radius: 8px;
    overflow: hidden;
    margin: 2%;
    pointer-events: none;
    padding: 2%;
}

.card-custom2-right
{
    width: 100%;
    height: auto;
    background: #FFE8F1;
    border-radius: 8px;
    overflow: hidden;
    margin: 2%;
    padding: 2%;
}
.card-custom3-right
{
    width: 100%;
    height: auto;
    background: #CAECFF;
    border-radius: 8px;
    overflow: hidden;
    margin: 2%;
    padding: 2%;
 }
.card-custom-right-heading{
    width: 60%;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    display: inline-block;
    word-wrap: break-word;
}

.card-custom-right-heading-special
{
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    word-wrap: break-word;
    text-align: right;
}

.card-custom-right-heading-special1
{
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    word-wrap: break-word;
    text-align: right;
}
.card-custom-right-button
{
    padding: 3%;
    background: #2F5597;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    position: relative;
    width: 100%;
}

.card-custom-right-button-text
{
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}


    .card-custom-right-button-btn
    {
        padding: 3%;
        background: #2F5597;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        font-family: Inter;
        font-weight: 400;
        position: relative;
        width: 100%;
    }

.divider
{
    width: 100%;
    height: 0px;
    border: 0.50px rgba(47, 85, 151, 0.20) solid;
}

.card-custom-right-extra-content
{
    width: 80%;
    height: 45px;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    background: #E5ECF6;
    border-radius: 8px;
    padding: 1%;
}

.header-custom-text
{
    width: 100%;
    margin: 3% 0 0% 0%;
}

.header-text
{
    color: #2F5597;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    margin: 3% 3% 3% 0%;
}

#female_relation
{
color: #2F5597;
}

#female_complaints
{
color: #2F5597;
}

.header2-text
{
    color: white;
    font-size: 15px;
     font-family: Inter;
     font-weight: 400;
     word-wrap: break-word;
     display: inline-block;
     margin: 3% 3% 3% 3%;
}

.custom_readonly {
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 35px !important;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
}

.factor-container {
    width: 100%;
    height: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.factor-inner-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7%;
    display: inline-flex;
}

.factor-sub-container {
    justify-content: flex-start;
    align-items: flex-end;
    display: inline-flex;
}

.factor-title {
    width: max-content;
    color: black;
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.factor-action-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 12px;
    background: rgba(47, 85, 151, 0.10);
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.factor-icon {
    width: 20px;
    height: 20px;
}

.factor-action-text {
    color: #2F5597;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.factor_divider{
    width: 100%;
    height: 0px;
    border: 1px #2F5597 solid;
}

.buttonCollapse
{
    width: 10%;
    height: 8%;
    left: 92%;
    position: relative;
}


.o_field_many2many_checkboxes div {
    display: inline-table;
}

button{
    margin: 1%;
}

.repeat_kanban_button {
    padding-right: 0.20rem;
}

.repeat_kanban
{
    padding-bottom: 0px !important;
}

.repeat_kanban_section_header
{
    background: #FFE8F1 !important;
}

.repeat_kanban_section_content
{
    background: #FFFAFC !important;
}

.o_input
{
    border-bottom: 1px solid #CCC;
}

 .editPatientProfile
 {
     margin-left: 10px;
 }

.card-header-custom {
    height: 45px;
    padding: 5px 5px;
    margin-bottom: 0.20%;
    background-color: #B4C7E7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.max_width_kanban.o_kanban_renderer.o_kanban_ungrouped .o_kanban_record{
    width: 100%;
}

.notebook-headers-custom {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* or however far down you want the sticky effect to start */
    z-index: 1; /* to ensure it's above other content */
}

/*Use this to make label but with no-string*/
.label_with_no_string{
    visibility: hidden;
}

.table-responsive > table > thead > tr > th{
    max-width:100% !important;
    max-height: auto !important;
    height: auto !important;
}

.golden_gradient{
    background: linear-gradient(to bottom, #FAFDF2, #EAEAD0);
}

#first_consultation_section> div> .o_notebook_headers
{
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
}

.custom_line{
    margin-top: revert;
    margin-bottom: revert;
}

#previous_treatment_tree_section{
padding-right:16px;
}

#genital_examination_section div[aria-atomic="true"]{
display:flex;
gap:20px;
}

.custom_gap div[aria-atomic="true"]{
display:flex;
gap:20px;
}

.custom_gap {
gap:20px;
}