.tvs_scan{
    background: #3db13b;
    padding: 20px;
    border-radius: 8px;
}

.output_results{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: -8%;
    height: auto;
    margin-bottom: 11%;
}

.display{
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
}
.equal{
    width: 145px;
}



.operator{
    color: #33ffd8;
}

.tvs_scan_form_input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 32px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-align : center !important;
}