body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#side-bar {
  position: fixed;
  margin-top:40px;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
 /* background-color: #f1f1f1;*/
 border-right:1px solid lightgrey;
}

#side-bar nav ul {
  list-style-type: none;
  padding: 0;
}

#side-bar nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}



#main-content {
  margin: 0;
  padding: 20px;
  margin-left: 0px;
}

#main-content header {
  margin-top: 0;
}




.my_btn{
    color:black;
    background:white;
}

.activeButton, .activeButton:hover{
    background:black;
    color:white;
}



.no-border-top {
  border-top: none;
  border-left: none;
  border-right: none;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    background: brown;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}


