<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem id="ecare_appointment.configuration_ec_patient_menu"
                  name="Patient"
                  parent="ecare_appointment.ec_main_menu"
                  sequence="50"
                  groups="group_patient_menu"
                  action="ecare_core.ec_patient_action"/>


    </data>
</odoo>